<app-guest-navbar></app-guest-navbar>
<div class="wrapper">
  <form [formGroup]="registryForm">
    <mat-card class="center login-form">
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="!registryForm.controls['login'].valid && registryForm.controls['login'].touched">{{getLoginErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Hasło" type="password" formControlName="password">
        <mat-error *ngIf="!registryForm.controls['password'].valid && registryForm.controls['password'].touched">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" (click)="login()">Zaloguj</button>
      <button mat-raised-button color="secondary" class="login-button" (click)="googleLogin()">Zaloguj się z kontem Google</button>
    </mat-card>
  </form>
</div>