.form-field-wrapper{
    margin: 10px;
}

button{
    //float: right;
    margin-right: 30px; 
    //margin-top: 20px;
    width: 100px;
}

.table-wrapper{
    margin-top: 20px;
}

.mat-cell, .mat-header-cell{
    width: auto;
}