<app-post *ngIf="post != null" [title]="post.title" [path]="post.image"
[rating]="post.rating" [postId]="post.id" [index]="post.id" [attr.id]="'post-' + post.id" [showBestComments]="false"></app-post>
<div class="content-wrapper" *ngIf="user != null">
  <img *ngIf="user != null" [src]="user.avatar">
  <mat-form-field>
    <textarea matInput [(ngModel)]="comment.text" placeholder="Napisz komentarz..." matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"></textarea>
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="addComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
    <app-comment *ngFor="let comment of comments" [comment]="comment" [rating]="comment.rating" [postId]="post.id"></app-comment>
</div>