<mat-card class="post-card">
  <mat-card-header>
      <mat-card-title>{{postId}}. {{title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="path" (click)="postClicked()">
  <mat-card-footer>
    <app-post-bar [rating]="rating" [likeValue]="likeValue" [index]="index" [postId]="postId" (commentsToggled)="toggleComments()" (reportButtonClicked)="onReportButtonClicked()">
    </app-post-bar>
  </mat-card-footer> 
</mat-card>
<app-best-comments [hidden]="!areBestCommentsVisible"></app-best-comments>