.post-card{
    min-width: 500px;
    max-width: 500px;
    img{
        margin-bottom: 0;
    }
    margin: 20px 0;
    
}

mat-card-footer {
    padding-bottom: 5px;
}

button{
    font-size: 12px;
    position: absolute;
    right: 7%;
}

.textOnlyButton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

img {
    cursor: pointer;
}

google-plus {
    padding-left: 20px;
    padding-right: 10px;
}