<div class="wrapper">
  <form [formGroup]="registryForm" (ngSubmit)="login()">
    <mat-card class="center login-form">
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="!registryForm.controls['login'].valid && registryForm.controls['login'].touched">{{getLoginErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Hasło" type="password" formControlName="password">
        <mat-error *ngIf="!registryForm.controls['password'].valid && registryForm.controls['password'].touched">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button">Zaloguj</button>
    </mat-card>
  </form>
</div>