$mat-dark-blue: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da1,
    300 : #71767b,
    400 : #52585e,
    500 : #343b42,
    600 : #2f353c,
    700 : #272d33,
    800 : #21262b,
    900 : #15191d,
    A100 : #63a6ff,
    A200 : #3089ff,
    A400 : #006cfc,
    A700 : #0061e3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
