.form-field-wrapper{
    margin: 30px;
}

button{
    float: right;
    margin-right: 30px; 
    margin-top: 20px;
    width: 100px;
}

.table-wrapper{
    margin-top: 150px;
}

.mat-cell, .mat-header-cell{
    width: 180px;
}
