<div class="wrapper">
  <mat-card class="center login-form">
    <mat-form-field>
      <input matInput placeholder="Nazwa użytkownika">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Hasło" type="password">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Powtórz hasło" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button">Załóż konto</button>
  </mat-card>
</div>